* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #cddfe3;
}

hr {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 1px solid black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.col-1 {grid-column: span 1;}
.col-2 {grid-column: span 2;}
.col-3 {grid-column: span 3;}
.col-4 {grid-column: span 4;}
.col-5 {grid-column: span 5;}
.col-6 {grid-column: span 6;}
.col-7 {grid-column: span 7;}
.col-8 {grid-column: span 8;}
.col-9 {grid-column: span 9;}
.col-10 {grid-column: span 10;}
.col-11 {grid-column: span 11;}
.col-12 {grid-column: span 12;}
.col-13 {grid-column: span 13;}
.col-14 {grid-column: span 14;}
.col-15 {grid-column: span 15;}
.col-16 {grid-column: span 16;}
.col-17 {grid-column: span 17;}
.col-18 {grid-column: span 18;}
.col-19 {grid-column: span 19;}
.col-20 {grid-column: span 20;}

[class*="col-"] {
    float: flex;
    margin: 5px;
    border: 1px solid rgb(32, 131, 184);
}

#website-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-section {
    height: 85vh;
}

.form-name {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.form-name > div {
    align-self: flex-end;
}

.form-name .active {
    display: block;
    font-size: 7vh;
    font-weight: bold;
    color: #2b6377;
}

.form-name div > a {
    text-decoration: none;
    color: #4f8fa6;
    font-weight: bolder;
}

#form-body {
    margin-top: 5px;
}

.form-field {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-field input {
    height: 45px;
    border-radius: 10px;
    margin-top: 5px;
    padding-left: 10px;
    background-color: #94ccdf;
    border: none;
}

.form-field label, .form-field .password-label {
    margin-top: 15px;
    font-size: small;
    color: #1b5064;
}

.password-input {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.password-input .password-section, .password-input .confirm-password-section {
    width: 50%;
}

.password-input .password-section input, .password-input .confirm-password-section input {
    width: 100%;
}

.password-input .left-blank {
    width: 5%;
}

#signup {
    margin-top: 15px;
    font-size: medium;
    color: azure;
    cursor: pointer;
    background-color: #407e95;
}

.google-channel {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.google-channel button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    height: 45px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #1b5064;
    font-size: medium;
}

.google-channel a {
    text-decoration: none;
}

.google-channel a button > img {
    padding-right: 5px;
}

.google-channel a button > span {
    color: azure;
}

.consent {
    text-align: center;
    line-height: 1.5;
    font-size: small;
    color: #1b5064;
}

.underline {
    text-decoration-line: underline;
    font-weight: 500;
}

#as-link{
    color: #1b5064;
}